# Credential & config
.env
*.pem
*.key

# Python
__pycache__/
*.pyc
.venv/
venv/

*.jar
jars/
spark-warehouse/
metastore_db/
derby.log

orchestration/logs/
airflow.db
airflow.cfg
webserver_config.py

data/
*.parquet
*.csv
!warehouse/validation/*.csv
.history

.idea/
.vscode/
.DS_Store
Thumbs.db
mock_database_csv
raw

nifi_extensions