# Credential & config that
.env
*.pem
*.key

# Python
__pycache__/
*.pyc
.venv/
venv/

# Spark / Java
*.jar
jars/
spark-warehouse/
metastore_db/
derby.log

# Airflow
orchestration/logs/
airflow.db
airflow.cfg
webserver_config.py

# Data - khong commit du lieu that
data/
*.parquet
*.csv
!warehouse/validation/*.csv

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db
